# App
NODE_ENV=development
PORT=3000
LOG_LEVEL=info
LOKI_URL=http://localhost:3100

# Downstream gRPC services
USERS_GRPC_URL=localhost:5001
ORDERS_GRPC_URL=localhost:5002
PAYMENTS_GRPC_URL=localhost:5003
PRODUCTS_GRPC_URL=localhost:5004

# Messaging
RABBITMQ_URL=amqp://guest:guest@localhost:5672
